# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.
6. Scala.
7. C/C++.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. SciKit-Learn.
7. PyTorch.
8. ELI5.
9. NuPIC.
10. Ramp.
11. PyBrain.
12. Caffe2.

Data Science Tools:

| Data Science Tools |
| ------------------ |
| SAS. It is one of those data science tools which are specifically designed for statistical operation |		
| Apache Spark |
| BigML |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
M = 200
H = 60
T = M/H
print(str(T) + " hours.")

3.3333333333333335 hours.

**Objectives:**
- Python.
- R.
- SQL.
- Java.
- Julia.
- Scala.
- C/C++.

## Author ##
Lucas I. Lucas